# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

## Data Science Tools
| Data Science Tools        |
|---------------------------|
| Jupyter                   |
| RStudio                   |
| Apache Spark              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
- List popular languages for Data Science
- Explore commonly used libraries in Data Science
- Demonstrate basic arithmetic operations

## Author
Anindya Chatterjee